
*{ box-sizing: border-box;
 }

	/************* Header **************/


	/************* End Header **************/

	/************* Main Content **************/


 body { font-family: 'Love Ya Like a Sister', cursive;  
 background-color: none;}


 

p {padding: 15px; border:none;
margin:30px;}

h1 {font-size: 30px; margin:0; padding:0;
}

 li {text-align: center; border:.5px solid black;
  background-color:#0000; height: 50px; margin:0px;}



.title { background-color: #0000; 
 	font-size: 1.5em; border:none;display: block;
 	 margin-top:20px; margin-bottom: 30px;}
 

.paragraph {background-color: pink; 
	border:2px solid black; margin:0; 
}


 .title2 { text-align: center; 
 	padding:0; margin:15px 15px
 	 15px 15px;
 	font-size: 1.2em; border:none; 
 	display: block;
	}
.button {border: 2px solid black;}




/************* End Main Content  **************/



/********** custom color ****************/

.navbar-custom .navbar {
    background-color: pink;
}
/********** custom color end ****************/


	/************* Mobile Devices only **************/
/*
@media (max-width: 576){ .col-xs-12 {width: 100%; }
}

