
*{ box-sizing: border-box;
 }

	/************* Header **************/


	/************* End Header **************/

	/************* Main Content **************/


 body { font-family: "comic sans ms"; background-color: yellow; }


 

p {padding: 15px; border:none;
margin:30px; height: 1000px;}

h1 {  position: absolute; bottom:0; left: 0; font-size: 25px; 
margin:30px;}

.title { text-align: center; background-color: #0000; 
 	font-size: 1.5em; border:none;}
.paragraph {background-color:grey; border:2px solid black; margin: 30px; }

 .title2 { text-align: center; 
 	padding:0; margin:15px 15px 15px 15px;
 	font-size: 1.2em; border:none; display: block;
	}
#header-nav {
  background-color: gray;
  border-radius: 0;
  border: 0;
  height: 80px;
}


	/************* End Main Content  **************/


	/************* Large Devices only **************/
@media (min-width: ) {}



	/************* Medium  Devices only **************/

@media (min-width: ) and (max-width: ){}



	/************* Mobile Devices only **************/


@media (max-width: ){ .col-xs-12 {width: 100%; }


